
*,
*:before,
*:after {
  box-sizing: border-box;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

.task-wrapper {
  position: relative;
  width: 100%;
}
.task-wrapper .left {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  padding-top: 10px;
  text-align: left;
  color: white;
  cursor: pointer;
}
.task-wrapper .right {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  padding-top: 10px;
  text-align: right;
  color: white;
  cursor: pointer;
}
.task-wrapper h2 {
  font-family: "Fjalla One", sans-serif;
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
}
/*notes module stuff*/
.notes-module {
  margin: 0 auto;
  padding: 0;
}
.notes-module input[type="text"],
.notes-module input[type="submit"],
.notes-module select {
  height: 44px;
  display: block;
  float: left;
  margin: 1em 0 2em;
  border: none;
  border: 1px solid #80ace4;
  font-size: 1em;
}
.notes-module select {
  width: 100%;
  margin: 1em 0;
  padding: 0 10px;
}
.notes-module input[type="submit"] {
  background: #80ace4;
  color: #fff;
  padding: 0;
  cursor: pointer;
  width: 20%;
  border-radius: 0 3px 3px 0;
}
.notes-module input[type="submit"]:hover {
  background: #95bae9;
}
.notes-module input[type="submit"]:focus {
  background: white;
}
.notes-module input[type="text"] {
  padding: 0 10px;
  width: 80%;
  border-radius: 3px 0 0 3px;
}
.notes-module label {
  float: left;
  width: 50%;
  height: 44px;
  padding: 10px 0;
}
.notes-module label:hover {
  background: #eee;
}
.notes-module input:focus {
  outline: none;
}
.notes-module .notes-list {
  margin: 0;
  list-style-type: none;
  background: #fff;
}
.notes-module .notes-list li {
  font-weight: 400;
  color: #222;
  font-size: 1em;
  line-height: 1.5;
  background: #fff;
  text-align: left;
  padding: 8px 0;
  transition: all 0.3s linear;
  height: 44px;
}
.notes-module .notes-list li:hover {
  background: #f4f4f4;
  cursor: pointer;
}
.notes-module .notes-list li i {
  text-align: right;
}
.notes-module .mark-me {
  opacity: 0.5;
  text-decoration: line-through;
}
.notes-module .fa-trash {
  display: inline-block;
  width: 44px;
  color: #80ace4;
  cursor: pointer;
  float: right;
  line-height: 1.5;
  text-align: right;
}
.notes-module .fa-trash:hover {
  color: #1a242f;
}
.today {
  text-transform: uppercase;
  color: #f39c12;
}
