.fat-wizard {
  margin-top: 20px;
}
.fat-wizard__header {
  color: #546070;
  margin-bottom: .8em;
  text-transform: capitalize;
}
.fat-wizard__select-wrapper {
  background-color: #fbfcfc;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
}
.fat-wizard__select-area {
  -webkit-appearance: none;
  appearance: none;
  border: 2px dashed #f5ac8f;
  background-color: rgba(249, 207, 190, 0.6);
  transition: border 300ms, background-color 300ms;
  position: absolute;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
.fat-wizard__select-area:focus {
  outline: 0;
}
.fat-wizard__select-area--hovered, .fat-wizard__select-area--selected {
  border-color: #a7db89;
  background-color: rgba(182, 225, 157, 0.9);
}

.fat-wizard__select-area--finished, .fat-wizard__select-area--finished {
  border-color: #a7db89;
  background-color: rgba(0, 0, 0, 0.9);
}

.fat-wizard__select-area--chin {
  top: 12.5%;
  left: 50.4%;
  transform: translateX(-50%);
  width: 20%;
  height: 2.5%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.fat-wizard__select-area--belly-upper {
  top: 35%;
  left: 50.4%;
  transform: translateX(-50%);
  width: 29%;
  height: 6%;
  border-radius: 50%;
}
.fat-wizard__select-area--belly-bottom {
  top: 25%;
  left: 50.4%;
  transform: translateX(-50%);
  width: 38%;
  height: 7%;
  border-radius: 50%;
}
.fat-wizard__select-area--thigh-left, .fat-wizard__select-area--thigh-right {
  top: 52%;
  width: 20%;
  height: 14%;
  border-radius: 50%;
}
.fat-wizard__select-area--thigh-left {
  left: 55%;
  transform: rotate(5deg);
}
.fat-wizard__select-area--thigh-right {
  left: 25%;
  transform: rotate(-5deg);
}
.fat-wizard__select-area--knee-left, .fat-wizard__select-area--knee-right {
  top: 20%;
  width: 20%;
  height: 4%;
  border-radius: 50%;
}
.fat-wizard__select-area--knee-left {
  left: 10%;
}
.fat-wizard__select-area--knee-right {
  left: 70%;
}
.fat-wizard__select-area--back-left, .fat-wizard__select-area--back-right {
  top: 28.5%;
  width: 21%;
  height: 7%;
  border-radius: 50%;
}
.fat-wizard__select-area--back-left {
  left: 25.4%;
}
.fat-wizard__select-area--back-right {
  left: 53.4%;
}
.fat-wizard__select-area--arm-left, .fat-wizard__select-area--arm-right {
  top: 27%;
  width: 8%;
  height: 11%;
  border-radius: 50%;
}
.fat-wizard__select-area--arm-left {
  left: 16%;
}
.fat-wizard__select-area--arm-right {
  left: 76%;
}
.fat-wizard__select-area--hip-left, .fat-wizard__select-area--hip-right {
  top: 38.6%;
  width: 17%;
  height: 2%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.fat-wizard__select-area--hip-left {
  left: 29%;
}
.fat-wizard__select-area--hip-right {
  left: 54%;
}
.fat-wizard__select-area--buttocks {
  left: 50%;
  transform: translateX(-50%);
  top: 45%;
  width: 60%;
  height: 10%;
  border-radius: 50%;
}
.fat-wizard__select-area--saddleback-left, .fat-wizard__select-area--saddleback-right {
  top: 52%;
  width: 8%;
  height: 15%;
  border-radius: 50%;
}
.fat-wizard__select-area--saddleback-left {
  left: 19%;
  transform: rotate(-12deg);
}
.fat-wizard__select-area--saddleback-right {
  left: 72%;
  transform: rotate(12deg);
}
.fat-wizard__select-area--calf-left, .fat-wizard__select-area--calf-right {
  top: 72%;
  width: 9%;
  height: 13%;
  border-radius: 50%;
}
.fat-wizard__select-area--calf-left {
  left: 34%;
  transform: rotate(-6deg);
}
.fat-wizard__select-area--calf-right {
  left: 57%;
  transform: rotate(6deg);
}
.fat-wizard__image {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 15px 15px;
  max-width: 246px;
  width: 100%;
}
.fat-wizard__image::before {
  content: '';
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  padding-bottom: 350%;
  max-height: 861px;
}
.fat-wizard__image--front::before {
  background-image: url("https://image.ibb.co/d9LzhQ/woman_front.png");
}
.fat-wizard__image--back::before {
  background-image: url("https://image.ibb.co/iRTkNQ/woman_back.png");
}
.fat-wizard__selected-list {
  list-style: none;
  margin: 0 0 10px;
  padding: 0;
}
.fat-wizard__selected-list li {
  color: #546070;
  background-color: #f2f2f2;
  margin-bottom: 5px;
  padding: .25em .75em;
  border-radius: 3px;
  font-weight: bolder;
}
.fat-wizard__selected-list li::after {
  content: '';
  display: table;
  clear: both;
}
.fat-wizard__selected-list li > div:nth-child(1) {
  float: left;
}
.fat-wizard__selected-list li > div:nth-child(2) {
  float: right;
}
.fat-wizard__selected-list li > div:nth-child(2) span,
.fat-wizard__selected-list li > div:nth-child(2) .fa {
  vertical-align: middle;
}
.fat-wizard__selected-list li > div:nth-child(2) span {
  margin-right: .5em;
}
.fat-wizard__selected-list li > div:nth-child(2) .fa {
  border: 1px solid #546070;
  border-radius: 50%;
  font-size: .7em;
  line-height: 1.3em;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  cursor: pointer;
}
.fat-wizard__total-wrapper {
  margin-top: 35px;
}
.fat-wizard__total-wrapper::after {
  display: table;
  clear: both;
  content: '';
}
.fat-wizard__total-wrapper > div:nth-child(1) {
  float: left;
}
.fat-wizard__total-wrapper > div:nth-child(2) {
  float: right;
}
.fat-wizard__total-wrapper h4 {
  margin: 0;
}
.fat-wizard .btn-cta {
  display: block;
  width: 100%;
  color: white;
  background-color: #fc537f;
  margin-top: 20px;
  font-size: 1.15rem;
  padding: .7em 0;
  font-weight: 300;
  cursor: pointer;
  transition: background-color 300ms;
}
.fat-wizard .btn-cta:hover {
  background-color: #e5043f;
}
