<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Paarfit</title>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="static/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css"></link>

</head>

<body>
    <!-- Header -->

        <div class="container mt-5">


            <center>

                <img class="logo" src="static/img/pflogo.png" alt="logo" style="margin-top: 100px">
                <form action="/login_page">
                    <button class="main-btn" style="background-color: rgb(233,103,89); margin-top: 100px">Jetzt Starten</button>
                </form>
            </center>
        </div>


        <script type="text/javascript" src="static/js/jquery.min.js"></script>
        <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="static/js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="static/js/jquery.magnific-popup.js"></script>
        <script type="text/javascript" src="static/js/main.js"></script>
</body>

</html>