<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/addbutton.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style type="text/css">
    body {
        background-color: rgb(153, 204, 255);
    }
    </style>
    <title>paarfit</title>
</head>

<body>
    <!-- nav bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
    <img src="static/img/pflogo.png"  class="d-inline-block align-top" alt="">
   
  </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/unser_paarfit">Unser Paarfit <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Features</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link disabled" href="#">Pricing</a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ernährung
        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Rezepte</a>
                        <a class="dropdown-item disabled" href="#">Lebensmittel</a>
                        <a class="dropdown-item disabled" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Abmelden</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- navbar end -->
    <!-- Rezepte Cards -->
    <div class="text-center mt-5">
        <h1 class="text-white">Tipps und Rezepte</h1>
    </div>
    <div class="container ">
        <button class="w3-button w3-xlarge w3-circle w3-red w3-card-4">+</button>
    </div>
    <div class="container text-center mt-5">
        <div class="card-deck mt-5">
            <div class="card">
                <img class="card-img-top" src="static/img/rezept1.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Pancakes</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <a class="btn btn-link" href="/rezept_selected">Rezept ansehen</a>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="static/img/rezept2.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Iwas</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
                <a class="btn btn-link" href="rezept_selected.html">Rezept ansehen</a>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="static/img/rezept3.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Salat</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <a class="btn btn-link" href="rezept_selected.html">Rezept ansehen</a>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="card-deck mt-5">
            <div class="card">
                <img class="card-img-top" src="static/img/rezept1.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Pancaces</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <a class="btn btn-link" href="rezept_selected.html">Rezept ansehen</a>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="static/img/rezept2.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Iwas</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-link">Rezept ansehen</a>
                </div>
                <a class="btn btn-link" href="rezept_selected.html">Rezept ansehen</a>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="static/img/rezept3.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Salat</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <a class="btn btn-link" href="rezept_selected.html">Rezept ansehen</a>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
    </div>
    <!-- Rezepte Cards end -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>