<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Paarfit Workouts</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>


  
  
      <link rel="stylesheet" href="static/css/workouts.css">

  
</head>

<body>

  <div id="wrapper">
  <h1>Workouts</h1>
<div class="toggles">
  <button id="showall">Show All</button> 
  <button id="web">Web Design</button>
  <button id="ux">UX Design</button>
  <button id="graphic">Graphic Design</button>
  <button id="motion">Motion Graphic</button>
</div>

<div class="posts">
     <div class="motion post">               
      <video width="200" controls>
                  <source src="static/videos/Beinbeuger.mp4" type="video/mp4">

                  Your browser does not support HTML5 video.
                  </video></div>
    <div class="web post">
      
       <video width="200" controls>
                  <source src="static/videos/Beinbeuger.mp4" type="video/mp4">

                  Your browser does not support HTML5 video.
                  </video>
    </div>
    <div class="ux post">

 <video width="200" controls>
                  <source src="static/videos/Beinbeuger.mp4" type="video/mp4">

                  Your browser does not support HTML5 video.
                  </video>

    </div>
    <div class="graphic post">Graphic Design</div>
    <div class="web post">Web Design</div>
    <div class="ux post">UX Design</div>
    <div class="web post">Web Design</div>
    <div class="motion post">Motion Design</div>
    <div class="graphic post">Graphic Design</div>
  </div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

  

    <script  src="static/js/workouts.js"></script>




</body>

</html>
